<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.springboard.repositories.BoardMapper">
    <insert id="postBoard" useGeneratedKeys="true" keyProperty="boardId">
        INSERT INTO board(writer, password, title, content,
                          created_at, category_id)
        VALUES (#{writer}, #{password}, #{title}, #{content},
                CURRENT_TIMESTAMP, #{categoryId})
    </insert>

    <select id="getBoards" resultType="BoardResponseDto">
        SELECT b.board_id, b.writer, b.title, b.views,
               b.created_at, b.modified_at, c.category_name
        FROM board AS b
            JOIN category AS c ON b.category_id = c.category_id
        <where>
            <if test="startDate != null and startDate != ''">
                <![CDATA[
                AND b.created_at >= #{startDate}
                ]]>
            </if>
            <if test="endDate != null and endDate != ''">
                <![CDATA[
                AND b.created_at <= #{endDate}
                ]]>
            </if>
            <if test="category != null and category != ''
            and category != 'ALL'">
                AND b.category_id = #{category}
            </if>
            <if test="keyword != null and keyword != ''">
                AND (
                    b.writer LIKE CONCAT('%', #{keyword}, '%') OR
                    b.title LIKE CONCAT('%', #{keyword}, '%') OR
                    b.content LIKE CONCAT('%', #{keyword}, '%')
                    )
            </if>
        </where>
        ORDER BY b.board_id DESC;
    </select>

    <select id="getBoardCount" resultType="java.lang.Integer">
        SELECT COUNT(*) as totalBoardCount
        FROM board AS b
            JOIN category AS c ON b.category_id = c.category_id
        <where>
            <if test="startDate != null and startDate != ''">
                <![CDATA[
                AND b.created_at >= #{startDate}
                ]]>
            </if>
            <if test="endDate != null and endDate != ''">
                <![CDATA[
                AND b.created_at <= #{endDate}
                ]]>
            </if>
            <if test="category != null and category != ''
            and category != 'ALL'">
                AND b.category_id = #{category}
            </if>
            <if test="keyword != null and keyword != ''">
                AND (
                b.writer LIKE CONCAT('%', #{keyword}, '%') OR
                b.title LIKE CONCAT('%', #{keyword}, '%') OR
                b.content LIKE CONCAT('%', #{keyword}, '%')
                )
            </if>
        </where>
    </select>

    <select id="getBoard" resultType="BoardDetailResponseDto">
        SELECT b.board_id, b.writer, b.title, b.content, b.views,
               b.created_at, b.modified_at, c.category_name
        FROM board AS b
                 JOIN category AS c ON b.category_id = c.category_id
        WHERE board_id = #{boardId}
    </select>

    <update id="updateViews">
        UPDATE board
        SET views = views + 1
        WHERE board_id = #{boardId}
    </update>

    <update id="updateBoard">
        update board
        SET writer = #{boardUpdateRequestDto.writer},
            title = #{boardUpdateRequestDto.title},
            content = #{boardUpdateRequestDto.content},
            modified_at = CURRENT_TIMESTAMP
        WHERE board_id = #{boardId}
    </update>

    <select id="getPassword" resultType="java.lang.String">
        SELECT password
        FROM board
        WHERE board_id = #{boardId}
    </select>

    <delete id="deleteBoard">
        DELETE FROM board
        WHERE board_id = #{boardId}
    </delete>
</mapper>
