<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.springboard.repositories.FileMapper">

    <select id="getFiles" resultMap="fileResultMap">
        SELECT file_id, original_name
        FROM file
        WHERE board_id = #{boardId} AND is_deleted = 0
    </select>

    <insert id="postFile">
        INSERT INTO file(original_name, saved_name, board_id)
        VALUES (#{originalName}, #{savedName}, #{boardId})
    </insert>
</mapper>
