<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>자유게시판 - 목록</h1>
<form action="/boards/free/list" method="get">
    <table class="search">
        <tr>
            <td>등록일</td>
            <td><input type="date" name="startDate" th:value= "${param.startDate}"> ~ <input type="date" name="endDate" th:value="${param.endDate}"></td>
            <td>
                <select name="category">
                    <option value="ALL">전체 카테고리</option>
                    <option th:each="category : ${categoryList}" th:value="${category.categoryId}" th:text="${category.categoryName}"></option>
                </select>
            </td>
            <td> <input type="text"name="keyword" placeholder="검색어를 입력해 주세요.(제목 + 작성자 + 내용)" th:value="${param.keyword}"></td>
            <td><button type="submit">검색</button></td>
        </tr>
    </table>
</form><br>
총 &nbsp <span th:text="${boardListDto.totalBoardCount}">0</span> &nbsp 건
<table class="boardList">
    <tr>|
        <td>카테고리</td>
        <td>첨부</td>
        <td>제목</td>
        <td>작성자</td>
        <td>조회수</td>
        <td>등록 일시</td>
        <td>수정 일시</td>
    </tr>
    <tr th:each="board : ${boardListDto.boardResponseDtoList}">
        <td th:text="${board.categoryName}"></td>
        <td>첨부여부아직X</td>
        <td>
            <a href="boardDetail.html" th:href="@{/boards/free/view/{boardId}
            (boardId=${board.boardId},
            pageNum=${boardSearch.pageNum},
            startDate=${boardSearch.startDate},
            endDate=${boardSearch.endDate},
            category=${boardSearch.category},
            keyword=${boardSearch.keyword})}" style="text-decoration:none;" th:text="${board.title}"></a>
        </td>
        <td th:text="${board.writer}"></td>
        <td th:text="${board.views}"></td>
        <td th:text="${board.createdAt}"></td>
        <td th:text="${board.modifiedAt != null ? board.modifiedAt : '-'}"></td>
    </tr>
</table>
<p id="paging"></p>

<script>
    // 현재 페이지
    var currentPage = [[${boardSearch.pageNum}]];

    // 총 게시글 수
    var totalBoardCount = [[${boardListDto.totalBoardCount}]];

    // 페이지에 보여질 게시글 수
    var pageSize = 10;

    // 페이지 블록의 크기
    var pageLimit = 10;

    // 시작 페이지
    var startPage = Math.floor((currentPage - 1) / pageLimit) * pageLimit + 1;

    // 마지막 페이지
    var endPage = startPage + pageLimit - 1;

    // 총 페이지 수
    var pageCount = Math.ceil(totalBoardCount / pageSize);

    if (endPage > pageCount) {
        endPage = pageCount
    }

    var pagingElement = document.getElementById("paging");

    var linkTemplate = "/boards/free/list?" +
        "pageNum={pageNum}" +
        "&startDate=[[${boardSearch.startDate}]]" +
        "&endDate=[[${boardSearch.endDate}]]" +
        "&category=[[${boardSearch.category}]]" +
        "&keyword=[[${boardSearch.keyword}]]";

    // 1페이지로 이동
    var firstLink = document.createElement("a");

    firstLink.href = linkTemplate.replace("{pageNum}", 1);
    firstLink.textContent = "<<";

    pagingElement.appendChild(firstLink);

    // 이전 페이지 블록으로 이동
    var prevLink = document.createElement("a");

    prevLink.href = linkTemplate.replace("{pageNum}", Math.max(startPage - pageLimit, 1));
    prevLink.textContent = "<";

    if (startPage === 1) {
        prevLink.style.display = "none"; // 첫 번째 페이지 블록이라면 숨김 처리
    }

    pagingElement.appendChild(prevLink);

    // 페이지 번호
    for (var pageNum = startPage; pageNum <= endPage && pageNum <= pageCount; pageNum++) {
        var pageLink = document.createElement("a");

        pageLink.href = linkTemplate.replace("{pageNum}", pageNum);
        pageLink.textContent = pageNum;

        pagingElement.appendChild(pageLink);
    }

    // 다음 페이지 블록으로 이동
    var nextLink = document.createElement("a");

    nextLink.href = linkTemplate.replace("{pageNum}", Math.min(startPage + pageLimit, pageCount));
    nextLink.textContent = ">";

    if (endPage === pageCount) {
        nextLink.style.display = "none"; // 마지막 페이지 블록이라면 숨김 처리
    }

    pagingElement.appendChild(nextLink);

    // 마지막 페이지 블록으로 이동
    var lastLink = document.createElement("a");

    lastLink.href = linkTemplate.replace("{pageNum}", pageCount);
    lastLink.textContent = ">>";

    pagingElement.appendChild(lastLink);
</script>
<a href="boardWriteForm.html" th:href="@{/board/free/write
(pageNum=${boardSearch.pageNum},
startDate=${boardSearch.startDate},
endDate=${boardSearch.endDate},
category=${boardSearch.category},
keyword=${boardSearch.keyword})}">
    <button>등록</button>
</a>
</body>
</html>
