<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script th:inline="javascript">
  var urlParams = new URLSearchParams(window.location.search);

  var errorMessage = urlParams.get('errorMessage');

  if (errorMessage != null) {
    alert(errorMessage);
  }

  function validateForm() {
    var category = document.forms["myForm"]["categoryId"].value;

    var writer = document.forms["myForm"]["writer"].value;

    var password = document.forms["myForm"]["password"].value;

    var password2 = document.forms["myForm"]["password2"].value;

    var title = document.forms["myForm"]["title"].value;

    var content = document.forms["myForm"]["content"].value;

    // 카테고리 필수 선택 검증
    if (category === "all") {
      alert("카테고리를 선택해주세요.");
      return false;
    }

    // 작성자 필수, 글자 수 검증
    if (writer.length < 3 || writer.length >= 5) {
      alert("작성자는 3글자 이상, 5글자 미만으로 입력해주세요.");
      return false;
    }

    // 비밀번호 필수, 글자 수, 패턴 검증
    if (password.length < 4 || password.length >= 16 || !password.match(/^(?=.*[a-zA-Z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]+$/)) {
      alert("비밀번호는 4글자 이상, 16글자 미만의 영문, 숫자, 특수문자 조합으로 입력해주세요.");
      return false;
    }

    // 비밀번호 확인 일치 검증
    if (password !== password2) {
      alert("비밀번호와 비밀번호 확인이 일치하지 않습니다.");
      return false;
    }

    // 제목 필수, 글자 수 검증
    if (title.length < 4 || title.length >= 100) {
      alert("제목은 4글자 이상, 100글자 미만으로 입력해주세요.");
      return false;
    }

    // 내용 필수, 글자 수 검증
    if (content.length < 4 || content.length >= 2000) {
      alert("내용은 4글자 이상, 2000글자 미만으로 입력해주세요.");
      return false;
    }
  }
</script>
<h2>게시판 - 등록</h2>

<form name="myForm" th:action="@{/board/free/write}"
      th:object="${boardPostRequestDto}"
      onsubmit="return validateForm()" enctype="multipart/form-data" method="post" >
  <table>
    <tr>
      <th>카테고리</th>
      <td colspan="2">
        <select name="categoryId">
          <option value="all">카테고리 선택</option>
          <option th:each="category : ${categoryList}"
                  th:value="${category.categoryId}"
                  th:text="${category.categoryName}"></option>
        </select>
        </select>
      </td>
    </tr>
    <tr>
      <th>작성자</th>
      <td>
        <input type="text" name="writer"
               th:field="${boardPostRequestDto.writer}" id="writer">
      </td>
    </tr>
    <tr>
      <th>비밀번호</th>
      <td>
        <input type="password" placeholder="비밀번호" name="password"
               th:field="${boardPostRequestDto.password}">
      </td>
      <td>
        <input type="password" placeholder="비밀번호 확인" name="password2">
      </td>
    </tr>
    <tr>
      <th>제목</th>
      <td colspan="3">
        <textarea rows="1" cols="60" name="title"
                                th:field="${boardPostRequestDto.title}"></textarea>
      </td>
    </tr>
    <tr>
      <th>내용</th>
      <td colspan="3">
        <textarea rows="10" cols="60" name="content"
                                th:field="${boardPostRequestDto.content}"></textarea>
      </td>
    </tr>
    <tr>
      <th>파일첨부</th>
      <td>
        <input type="file" name="file">
        <br>
        <input type="file" name="file">
        <br>
        <input type="file" name="file">
      </td>
    </tr>
    <tr>
      <td colspan="3" class="button">
        <div class="button-left">
          <a href="/boards/free/list">취소</a>
        </div>
        <div class="button-right">
          <input type="submit" value="저장">
        </div>
      </td>
    </tr>
  </table>
</form>
</body>
</html>
